{
 :paths       ["src" "bin/purejavahidapi.jar"]
 :deps
              {
                org.clojure/clojure                   {:mvn/version "1.9.0"}
                net.java.dev.jna/jna                  {:mvn/version "4.5.2"}
               }
 }